@model ShoeShelf.Models.Shoe

@{
    ViewData["Title"] = "Shoes Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InclusionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InclusionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Rentals Count
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Count)
        </dd>
        <dt class="col-sm-2">
            Last Disinfection
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disinfections.OrderByDescending(d => d.DisinfectionDate).FirstOrDefault().DisinfectionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Defects)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Description</th>
                    <th>Severity</th>
                </tr>
                @foreach (var item in Model.Defects)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Severity)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rented)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
