@model ShoeShelf.Models.Rental

@{
    ViewData["Title"] = "Rental Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoe.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
