@using ShoesShelf.Data
@model PaginatedList<ShoesShelf.Models.Defect>

@{
    ViewData["Title"] = "Defects";
}

<p class="py-3 admin-controls @(User.IsInRole(UserRoles.Admin) ? "visible" : "")">
    <a class="create-new" asp-action="Create">New Defect</a>
</p>

<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["IDSortParm"]">Shoes No</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["BrandSortParm"]">Brand</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CategorySortParm"]">Category</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["SizeSortParm"]">Size</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["DefectSortParm"]">Defect</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["SeveritySortParm"]">Severity</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) 
        {
                <tr style=" cursor:pointer; color: #292d73" onclick="window.location='@Url.Action("Details", "Defects", new { item.ID })';">
                <td>
                    @Html.DisplayFor(modelItem => item.Shoe.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shoe.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shoe.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shoe.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Severity)
                </td>
                    @if (User.IsInRole(UserRoles.Admin))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    }
            </tr>
        }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var actualPage = Model.PageIndex;
    var totalPages = Model.TotalPages;
}

<div class="pagination-container">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn @prevDisabled" id="prev-next">
        Previous
    </a>

    @for (int i = 1; i <= totalPages; i++)
    {
        if (i == actualPage)
        {
            <a class="btn">@actualPage</a>
        }
        else
        {
            <a asp-route-pageNumber="@i"
               asp-route-sortOrder="@ViewData["CurrentSort"]">
                <button type="button" class="btn" disabled>@i</button>
            </a>
        }
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn @nextDisabled" id="prev-next">
        Next
    </a>
</div>